GPT-2/__pycache__/
GPT-2/EMmodel/
GPT-2/jobs/
GPT-2/gen_jobs/
GPT-2/*.sh
GPT-2/cnft_jobs/
GPT-2/cg_jobs/
GPT-2/processed_generated/
Augmentation/gen_jobs/
Augmentation/*.sh
Augmentation/Generated/
ditto/jobs
ditto/run_jobs.sh
ditto/checkpoints/*
cached*
